<div class="flex flex-col">
  @for (blog of blogs(); track blog.id) {
    <div class="mb-2 p-4 flex items-center justify-center w-full">
      <p-card [style]="{ width: '24rem', overflow: 'hidden', background: '#D2D2CF' }">
        <ng-template #header>
          @if (blog.image_url){
            <img
              alt="Card"
              class="w-full"
              [src]="blog.image_url"
            />
          } @else {
            <img
              alt="Card"
              class="w-full"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1mJRlmPeQ49pJ5cjjab7-XkYd2ty27V40JA&s"
            />
          }
        </ng-template>
        <ng-template #title> {{ blog.title }} </ng-template>
        <p>{{ blog.content | slice:0:100 }}...</p>
        <ng-template #footer>
          <div class="flex gap-4 mt-1 justify-end">
            <p-button
              (click)="selectedBlog.set(blog); showDialog()"
              severity="contrast"
              label="Editar"
            />
            <p-button
              (click)="deletePost(blog)"
              severity="danger"
              label="Eliminar"
            />
          </div>
        </ng-template>
      </p-card>
    </div>
  }

  <div class="card flex justify-center p-4">
    <p-button
      (click)="selectedBlog.set(null); showDialog()"
      label="Crea un Post"
      class="w-96"
      styleClass="w-96"
    />
    <p-dialog
      header="Crea tu Post"
      [modal]="true"
      [(visible)]="visible"
      [style]="{ width: '25rem' }"
    >
      <app-blog-form
        [blog]="selectedBlog()"
        (save)="onSave($event)"
        (cancel)="closeDialog()"
      />
    </p-dialog>
  </div>
</div>
